extends layoutAuth
- bodyclass=''

block headermeta

block headerscripts
  script(src="/vendor/js/require.js", data-main="/js/creatorRequireJsConfig.js")
  link(rel='stylesheet', href='/vendor/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/creator.css')
  
  script(type='text/javascript').
    var renderModel = !{JSON.stringify(renderModel)}

block content
  .col-xs-12
    .h1(data-bind='text: header()')
    .form-group
      .btn.btn-primary(data-bind='click: createGame')= 'createGame'
  
  .col-xs-12
    .panel-group
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', href='#game-collapse')= 'GameDetails'
        #game-collapse.panel.collapse.collapse.in
          .panel-body
            .form-group
              span= "Name of the game"
              input.form-control(data-bind='textInput: name')
            .form-group
              span= "Start time"
              input.form-control.time-input(data-bind='textInput: timeStart', placeholder='2016-05-19 16:54:10')
            .form-group
              label.pointered= 'active'
                | &nbsp;
                input(type='checkbox', data-bind='checked: active')                
            div
              label.pointered= 'statistics'
                | &nbsp;
                input(type='checkbox', data-bind='checked: statistics')
  
  .col-xs-12.hidden
    .panel.panel-default
      .panel-head
        span= 'Teams'
        .btn.btn-primary.btn-xs.btn-add(data-bind='click: addTeam')
          i.fa.fa-plus
      #team-accordion(data-bind="foreach: teams, attr: {class: teams().length === 0 ? '' : 'panel-group'}")
        .panel.panel-default
          .panel-heading
            span.panel-title
              a(data-toggle="collapse", 
                data-parent="#team-accordion", 
                data-bind="attr: {href: '#team-collapse'+$index()}, text: 'Team #'+($index()+1)")
            a.btn.btn-default.btn-remove.pull-right(data-bind='click: $parent.removeTeam')
              i.fa.fa-minus
          .panel-collapse.collapse(data-bind="attr: {id: 'team-collapse'+$index()}")
            .panel-body
              .form-group
                span= 'Name'
                input.form-control(data-bind='textInput: name')
              .form-group
                span= 'Code'
                input.form-control(data-bind='textInput: code')
  
  .col-xs-12
    .panel.panel-default
      .panel-heading
        span.panel-title= 'Levels'
        .btn.btn-primary.btn-xs.btn-circle.pull-right(data-bind='click: addLevel')
          i.fa.fa-plus
      #level-accordion(data-bind="foreach: levels")
        .panel.panel-default.panel-content
          .panel-heading
            span.panel-title
              a(data-toggle="collapse", 
                data-parent="#level-accordion", 
                data-bind="attr: {href: '#level-collapse'+$index()}, text: 'Level #'+($index()+1)")
            .btn.btn-warning.btn-xs.btn-circle.pull-right(data-bind='click: $parent.removeLevel')
              i.fa.fa-minus
          .panel-collapse.collapse(data-bind="attr: {'id': 'level-collapse'+$index()}")
            .panel-body
              .form-group
                span= 'Name'
                input.form-control(data-bind='textInput: name')
              .form-group
                span= 'Text'
                input.form-control(data-bind='textInput: text')
              .form-group
                span= 'Time'
                input.form-control.time-input(data-bind='textInput: time', placeholder='2016-05-19 16:54:10')
              
              .form-group.panel.panel-default
                .panel-heading
                  span.panel-title= 'Pics to level'
                  .btn.btn-primary.btn-xs.btn-circle.pull-right(data-bind='click: addImage')
                    i.fa.fa-plus
                div(data-bind="foreach: images, attr: {'id': 'imageLevel-accordion' + $index()}")
                  .panel.panel-default.panel-content
                    .panel-heading
                      span.panel-title
                        a(data-toggle="collapse", 
                          data-bind="attr: {href: ['#imageLevel-collapse',$parentContext.$index(),$index()].join(''), 'data-parent': '#imageLevel-accordion' + $parentContext.$index()}, text: 'Image #'+($index()+1)")
                      .btn.btn-warning.btn-xs.btn-circle.pull-right(data-bind='click: $parent.removeImage')
                        i.fa.fa-minus  
                    .panel-collapse.collapse(data-bind="attr: {id: ['imageLevel-collapse',$parentContext.$index(),$index()].join('')}")
                      .panel-body
                          .form-group
                            span= 'Url'
                            input.form-control(data-bind='textInput: url')
              
              .form-group.panel.panel-default
                .panel-heading
                  span.panel-title= 'Sectors'
                  .btn.btn-primary.btn-xs.btn-circle.pull-right(data-bind='click: addSector')
                    i.fa.fa-plus
                div(data-bind="foreach: sectors, attr: {id: 'sector-accordion' + $index()}")
                  .panel.panel-default.panel-content
                    .panel-heading
                      span.panel-title
                        a(data-toggle='collapse', 
                          data-bind="attr: {href: ['#sector-collapse',$parentContext.$index(),$index()].join(''), 'data-parent': '#sector-accordion' + $parentContext.$index()}, text: 'Sector #'+($index()+1)")
                      .btn.btn-default.btn-xs.btn-circle.pull-right(data-bind='click: $parent.removeSector')
                        i.fa.fa-minus
                    .panel-collapse.collapse(data-bind="attr: {id: ['sector-collapse',$parentContext.$index(),$index()].join('')}")
                      .panel.panel-default.panel-content
                        .panel-heading
                          span.panel-title= 'Answers'
                          .btn.btn-primary.btn-xs.btn-circle.pull-right(data-bind='click: addAnswer')
                            i.fa.fa-plus
                        div(data-bind="foreach: answers, attr: {id: ['answer-accordion',$parentContext.$index(),$index()].join('')}")
                          .panel.panel-default.panel-content
                            .panel-heading
                              span.panel-title
                                a(data-toggle="collapse", 
                                  data-bind="attr: {href: ['#answer-collapse',$parentContext.$parentContext.$index(),$parentContext.$index(),$index()].join(''), 'data-parent': ['#answer-accordion',$parentContext.$parentContext.$index(),$parentContext.$index()].join('')}, text: 'Answer #'+($index()+1)")
                              .btn.btn-default.btn-xs.btn-circle.pull-right(data-bind='click: $parent.removeAnswer')
                                i.fa.fa-minus
                            .panel-collapse.collapse(data-bind="attr: {id: ['answer-collapse',$parentContext.$parentContext.$index(),$parentContext.$index(),$index()].join('')}")
                              .panel-body
                                span= 'Text'
                                input.form-control(data-bind='textInput: text')
              
              .form-group.panel.panel-default
                .panel-heading
                  span.panel-title= 'Hints'
                  .btn.btn-primary.btn-xs.btn-circle.pull-right(data-bind='click: addHint')
                    i.fa.fa-plus
                div(data-bind="foreach: hints, attr: {id: 'hint-accordion' + $index()}")
                  .panel.panel-default.panel-content
                    .panel-heading
                      span.panel-title
                        a(data-toggle="collapse", 
                          data-bind="attr: {href: ['#hint-collapse',$parentContext.$index(),$index()].join(''), 'data-parent': '#hint-accordion' + $parentContext.$index()}, text: 'hint #'+($index()+1)")
                      .btn.btn-default.btn-xs.btn-circle.pull-right(data-bind='click: $parent.removeHint')
                        i.fa.fa-minus 
                    .panel-collapse.collapse(data-bind="attr: {id: ['hint-collapse',$parentContext.$index(),$index()].join('')}")
                      .panel-body
                        .form-group
                          span= 'Name'
                          input.form-control(data-bind='textInput: name')
                        .form-group
                          span= 'Text'
                          input.form-control(data-bind='textInput: text')
                        div
                          span= 'Time'
                          input.form-control.time-input(data-bind='textInput: time', placeholder='2016-05-19 16:54:10')
                        
                        .panel.panel-default.panel-content
                          .panel-heading
                            span.panel-title= 'Pics to hint'
                            .btn.btn-primary.btn-xs.btn-circle.pull-right(data-bind='click: addImage')
                              i.fa.fa-plus
                          div(data-bind="foreach: images, attr: {id: ['imageHint-accordion',$parentContext.$index(),$index()].join('')}")
                            .panel.panel-default.panel-content
                              .panel-heading
                                span.panel-title
                                  a(data-toggle="collapse", 
                                    data-bind="attr: {href: ['#imageHint-collapse',$parentContext.$parentContext.$index(),$parentContext.$index(),$index()].join(''), 'data-parent': ['#imageHint-accordion',$parentContext.$parentContext.$index(),$parentContext.$index()].join('')}, text: 'Image #'+($index()+1)")
                                .btn.btn-default.btn-xs.btn-circle.pull-right(data-bind='click: $parent.removeImage')
                                  i.fa.fa-minus
                              .panel-collapse.collapse(data-bind="attr: {id: ['imageHint-collapse',$parentContext.$parentContext.$index(),$parentContext.$index(),$index()].join('')}")
                                .panel-body
                                  span= 'Url'
                                  input.form-control(data-bind='textInput: url')                          
